/* || Login/Register :--------------------------------------------------*/

.wrapper-login{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.wrapper-login input{
  display:flex;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  padding: 5px;
  margin: 10px auto;
}
.wrapper-login form{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

/* || Comment :--------------------------------------------------*/

.l-comment-form{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 4px;
}
.comment-form label{
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
  justify-content: left;
  display: block;
}

.input-pseudo, .input-comment{
  border: 1px solid black;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  margin: 10px 0;
}

.input-pseudo{
  width: 60%;
  display: block;
}

.input-comment{
  width: 100%;
  resize: none;
  height: 15vh;
}

.submit-btn{
  margin: 10px 0;
  padding: .7rem 2rem;
  opacity: .8;
  color: #FFF;
  background: black;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  transition: .3s ease-in; 
}

.submit-btn:hover{
  opacity: 1;
}