/* CSS Organisé avec la convention SMACCS... enfin... j'ai essayé*/


/* || Base */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(237, 235, 235, 0.87);
}

h1,
h2,
h3{
  padding-bottom: 20px;

}


/* || Layout :--------------------------------------------------*/


.l-main{
  line-height: 1.6;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "header header header" "sidebar_l article sidebar_r" "footer footer footer";
}
  

.content-container{
  justify-content: center;
  text-align: center;
}

.l-article{
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  padding: 16px;
  justify-content: center;
}



/* || Modules :--------------------------------------------------*/


/* HEADER : ------------------------------------ */

header{
  grid-area: header;
}

.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #0082e6;
}

label.logo{
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navigation-list{
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.navigation-link.active, .navigation-link:hover {
  background: #1b9bff;
  transition: .5s;
}
.navigation-link{
  margin: 0 10px;
  white-space: nowrap;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.auth-link{
  border: 2px solid white;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width:1024px){
  .l-main{
    grid-template-columns: 1fr 5fr 1fr;
  }
  .navigation-list{
    width: 45%;
  }
}

@media screen and (max-width:768px){

  body{
    overflow-x: hidden;
  }
  .l-main{
    display: flex;
    flex-direction: column;
  }


  .article{
    display: flex;
    flex-direction: column;
  }
  .navigation-list{
    opacity: 0.95;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #0082e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }


  .navigation-item{
    opacity: 0;

  }

  .burger{
    display: block;
  }
  .navigation-active{
    transform: translateX(0%);
  }
  
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* MAIN :-------------------------------------------------- */

.article-content{
  max-width: 75ch;
  text-align: justify;
}


.articles-title a{
  text-decoration: none;
  color: black;
}
.content-container{
  grid-area: article;
  border-left: 1px solid rgb(141, 140, 140);
  border-right: 1px solid rgb(141, 140, 140);
}



/* || Comment Section :--------------------------------------------------*/

.l-comment-form div{
  display: grid;
  grid-template-columns: 125px auto;
  grid-gap: 10px;
  padding: 4px;
}

.input-pseudo, .input-comment{
  width: 100%;
  border-radius: 3px;
}
.comment-section{
  padding: 20px 0;
}

.comment-form button{
  border-radius: 3px;
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;

}

.comment-form button:hover{
  background-color:burlywood;
}

@media screen and (max-width:768px){
  .l-comment-form{
    display: flex;
    flex-direction: column;
  }
}

.deleted-comment{
  transform: translateX(0%);
  transition: transform 0.5s ease-out;
  display: none;
}

/* || Sidebars :--------------------------------------------------*/

.sidebar_left{
  grid-area: sidebar_l;
  background-color: rgb(227, 227, 227);
}

.sidebar_right{
  grid-area: sidebar_r;
  background-color: rgb(227, 227, 227);
}

/* || Footer :--------------------------------------------------*/

footer{
  grid-area: footer;
  background-color: rgb(227, 227, 227);
}

/* || Login/Register :--------------------------------------------------*/

.wrapper-login{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper-login button{
  margin: 10px auto;
  padding: 10px 20px;
}

.wrapper-login input{
  display:flex;
  padding: 5px;
  margin: 10px auto;
}
.wrapper-login form{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;

}

/* || ErrorHandling :--------------------------------------------------*/

.invalidFeedback{
  color: red;
}

/* || State */

