/* CSS Organisé avec la convention SMACCS... enfin... j'ai essayé*/


/* || Base */

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(237, 235, 235, 0.87);
}

/* || Layout */

.l-main{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "header header header" "nav article sidebar" "footer footer footer";
}

.l-article{
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  padding: 8px;
}

.l-comment-form div{
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-gap: 10px;
  padding: 4px;
}

/* || Modules */

.articles-title a{
  text-decoration: none;
  color: black;
}
.content-container{
  padding: 8px;
}

.input-pseudo, .input-comment{
  border-radius: 3px;
}

.comment-form button{
  border-radius: 3px;
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;

}

.comment-form button:hover{
  background-color:burlywood;
}

header{
  grid-area: header;
  background-color: rgb(13, 13, 136);
  padding: 16px;

}
.sidebar{
  grid-area: sidebar;
  background-color: lightgray;
}

header h1 a{
  text-decoration: none;
  color: aliceblue;
}

nav{
  grid-area: nav;
  background-color: lightgray;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1fr;
}

nav li{
  border-bottom: 1px solid rgb(141, 140, 140);
}

nav li a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

article{
  grid-area: article;
  padding: 16px;
}

article img{
  max-width: 100%;
  max-height: 500px;
}


footer{
  grid-area: footer;
}


/* || State */


@media (max-width: 640px){
  .main{
    grid-template-areas: "header" "article" "nav" "sidebar" "footer";
    grid-template-columns: 1fr;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(237, 235, 235, 0.87);
  }
}


/* || State */
